<a class="menu-toggle rounded" href="{{ site.url }}">
      <i class="fas fa-bars"></i>
    </a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a class="js-scroll-trigger" href="#page-top">잇다</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#page-top">처음으로</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#about">'잇다'소개</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#order">주문하기</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#feedback">고객의소리</a>
        </li>
    </ul>
</nav>